html {
    user-select: none;
}

body {
    background-color: whitesmoke;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
        'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

*::-webkit-scrollbar,
*::-webkit-scrollbar-thumb {
    width: 10px;
    border-radius: 20px;
    background-clip: padding-box;
    border: 2px solid transparent;
}

*::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 0 10px;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.responsive-content {
    width: 70%;
    max-width: 450px;
  }
  
  @media only screen and (max-width: 768px) {
    .responsive-content {
      width: 90%;
      max-width: 100%;
    }
  }
  